<div class="contact-section">
  <div class="contact-icons">
    <div class="icon">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <span>e-mail</span>
    </div>
    <div class="icon">
      <fa-icon [icon]="faWhatsapp"></fa-icon>
      <span>WhatsApp</span>
    </div>
    <div class="icon">
      <fa-icon [icon]="faTwitter"></fa-icon>
      <span>Twitter</span>
    </div>
    <div class="icon">
      <fa-icon [icon]="faInstagram"></fa-icon>
      <span>Instagram</span>
    </div>
    <div class="icon">
      <fa-icon [icon]="faLinkedin"></fa-icon>
      <span>LinkedIn</span>
    </div>
    <div class="icon">
      <fa-icon [icon]="faGithub"></fa-icon>
      <span>Github</span>
    </div>
  </div>
</div>
